<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /system_ssl

    # HTTPアクセスの場合は404とする
    RewriteCond %{HTTP:X-Sakura-Forwarded-For} $^
    RewriteRule ^.*$ - [R=404,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
